<ion-card *ngIf="course">
  <img class="banner" [src]="course.banner || 'assets/icon/escuela.svg'"/>
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="{{ course.enable ? 'earth' : 'alert-circle' }}-outline"></ion-icon>
      {{ course.title }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="12">
        <ion-text class="no-selected-text" *ngIf="!course.description">Sin descripción.</ion-text>
        <ion-text class="no-selected-text" *ngIf="course.description">
          {{ course.description.length > 50 ? course.description.substr(0, 50) + '...' : course.description }}
        </ion-text>
      </ion-col>
      <ion-col [size]="12" *ngIf="add">
        <ion-button color="{{ added ? 'light' : 'primary' }}" (click)="handleAddRemove(course._id)">
          <ion-icon name="{{ added ? 'close' : 'add' }}-outline" slot="start"></ion-icon>
          <ion-text>{{ added ? 'Quitar' : 'Agregar' }}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" [size]="12" *ngIf="!add">
        <ion-button color="light" (click)="handleDelete(course._id)">
          <ion-icon name="close-outline" slot="start"></ion-icon>
          <ion-text>Remover</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
