<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center ion-margin-top ion-padding-top" *ngIf="!session">
    <ion-col [size]="8">
      <div class="ion-margin-top ion-padding-top">
        <br><br><br>

        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <h4>
              <ion-text color="primary">
                Ingresar al panel administrador
              </ion-text>
            </h4>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-item>
              <ion-label position="floating">Nº de documento</ion-label>
              <ion-input [(ngModel)]="user" class="ion-text-uppercase" maxlength="12"></ion-input>
            </ion-item>
            <ion-text class="ion-margin-start ion-margin-top" color="medium">
              <i class="toSmall">Ejm: CC123456789 ó PAS123456789</i>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="pass"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-top">
          <ion-col size="auto">
            <ion-button expand="full" color="primary" (click)="ingresar()">
              Ingresar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
