<ion-header>
  <ion-toolbar>
    <ion-title>Grupos familiares</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="goToCreate()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        <ion-text>Agregar grupo</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-bottom">
    <ion-col size="12">
      <ion-button color="light" (click)="setShowFilter()">
        <ion-icon name="{{ showFilter ? 'close' : 'filter'}}-outline" slot="start"></ion-icon>
        <ion-text>Filtrar</ion-text>
      </ion-button>
      <ion-button (click)="goToReports()">
        <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
        <ion-text>Ver reportes</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="12" class="{{ showFilter ? '' : 'ion-hide' }}">
      <ion-row>
        <ion-col [size]="12" size-sm="9">
          <ion-toolbar>
            <ion-button color="light" (click)="setFindFor()" slot="start">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              <ion-text>Buscar por: {{ findFor.label }}</ion-text>
            </ion-button>
            <ion-item>
              <ion-label position="floating" color="medium"># de {{ findFor.label }}</ion-label>
              <ion-input
                [(ngModel)]="queryParams[findFor.key]"
                autocomplete="off"
                maxlength="4"
                (keypress)="validateOnlyNumber($event)"
              ></ion-input>
            </ion-item>
            <ion-button color="light" (click)="findData()" slot="end">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-button color="light" (click)="cleanFilter()" slot="end">
              <ion-icon name="trash-outline" slot="start"></ion-icon>
              <ion-text>Limpiar</ion-text>
            </ion-button>
          </ion-toolbar>
        </ion-col>
        <ion-col [size]="12" size-sm="3">
          <ion-toolbar>
            <ion-button color="light" (click)="setSortOrder()">
              <ion-icon name="arrow-up-outline" *ngIf="queryParams.value === 1" slot="start"></ion-icon>
              <ion-icon name="arrow-down-outline" *ngIf="queryParams.value === -1" slot="start"></ion-icon>
              <ion-text>{{ queryParams.value === 1 ? 'ASC' : 'DES' }}</ion-text>
            </ion-button>
            <ion-button color="light" (click)="setQueryValues()">
              <ion-icon name="filter-outline" slot="start"></ion-icon>&nbsp;
              <ion-text>{{ queryParams.limit }}</ion-text>
            </ion-button>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="groups && groups.length > 0; else noGroups">
    <ion-col size="12" size-sm="3" *ngFor='let g of groups' (click)="goToDetails(g._id)">
      <app-groupcard [data]="g"></app-groupcard>
    </ion-col>
  </ion-row>

  <div class="ion-margin-top" *ngIf="groups && groups.length > 0 && pages > 0">
    <app-paginator
      [totalPages]="pages"
      [currentPage]="queryParams.page"
      [handlePage]="handlePage"
    ></app-paginator>
  </div>

  <ng-template #noGroups>
    <ion-card class="ion-no-padding">
      <ion-text>
        <p class="ion-text-center">No existen grupos familiares registrados.</p>
      </ion-text>
    </ion-card>
  </ng-template>
</ion-content>
