<ion-list>
  <ion-item *ngFor="let theme of temary">
    <ion-icon name="videocam-outline" slot="start" *ngIf="theme.urlVideo"></ion-icon>
    <ion-icon name="text-outline" slot="start" *ngIf="theme.description && !theme.urlVideo"></ion-icon>
    <ion-icon name="help-circle-outline" slot="start" *ngIf="!theme.description && !theme.urlVideo && theme.quiz"></ion-icon>
    <ion-text><b>{{ theme.title }}</b></ion-text>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="handlePreview(theme._id)">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="handleEditTheme(theme._id, !!theme.quiz)" *ngIf="enableActions">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="handleDeleteTheme(theme._id)" *ngIf="enableActions">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
