<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="confirmCancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear grupo familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-no-margin" size="12">
          <ion-row>
            <ion-col size="12" size-sm="4">
              <ion-item>
                <ion-label position="floating" color="medium">Sector (*)</ion-label>
                <ion-input
                  [(ngModel)]="formData.sector"
                  autocomplete="off"
                  maxlength="4"
                  (keypress)="validateOnlyNumber($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="4">
              <ion-item>
                <ion-label position="floating" color="medium">Sub-sector (*)</ion-label>
                <ion-input
                  [(ngModel)]="formData.subSector"
                  autocomplete="off"
                  maxlength="4"
                  (keypress)="validateOnlyNumber($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="4">
              <ion-item>
                <ion-label position="floating" color="medium">Número (*)</ion-label>
                <ion-input
                  [(ngModel)]="formData.number"
                  autocomplete="off"
                  maxlength="4"
                  (keypress)="validateOnlyNumber($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Dirección (*)</ion-label>
                <ion-textarea
                  [(ngModel)]="formData.direction"
                  rows="5"
                  class="ion-text-uppercase"
                ></ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="12" class="ion-margin-top">
              <ion-text color="medium"><i class="toSmall">(*) Campos requeridos.</i></ion-text>
            </ion-col>
            <ion-col size="12" size-sm="12" class="ion-margin-top ion-margin-bottom ion-text-center">
              <ion-button color="light" (click)="confirmCancel()">
                <ion-icon name="close-outline" slot="start"></ion-icon>
                <ion-text>Cancelar</ion-text>
              </ion-button>
              <ion-button color="primary" (click)="confirmCreate()">
                <ion-icon name="save-outline" slot="start"></ion-icon>
                <ion-text>Guardar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
