.max-height-250 {
  max-height: 260px !important;
  overflow-y: auto;
}

.max-height-450 {
  max-height: 450px !important;
  overflow-y: auto;
}

.bigNumber {
  font-size: 1.5em !important;
}

.bigIcon {
  font-size: 3em !important;
}

.textTotals {
  font-size: 1.1em !important;
  font-weight: bold;
}
