.img-church-card {
  height: 160px;
  width: 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center !important;
  margin: 0 auto;
}
