<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!views.info.edit && !editBanner">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="staticData && !views.info.edit && !editBanner && !staticData.enable && staticData.totalsUsers === 0">
      <ion-button color="danger" (click)="confirmCourseDelete()">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-text>Eliminar curso</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="staticData">
    <ion-col [size]="12">
      <ion-card>
        <ion-card-header class="ion-no-padding ion-no-margin">
          <ion-toolbar color="primary">
            <ion-buttons slot="start" *ngIf="!views.info.edit && !editBanner">
              <ion-button (click)="setShowView('info')">
                <ion-icon name="chevron-{{views.info.show ? 'up' : 'down' }}-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title *ngIf="!views.info.edit && !editBanner">{{ views.info.title }}</ion-title>
            <ion-title *ngIf="!views.info.edit && editBanner">Cambiar imagen del curso</ion-title>
            <ion-title *ngIf="views.info.edit && !editBanner">Editar datos principales del curso</ion-title>
            <ion-buttons slot="end" *ngIf="views.info.show && !staticData.enable && staticData.totalsUsers === 0">
              <ion-button (click)="setShowEditInfo('info')" *ngIf="!views.info.edit && !editBanner">
                <ion-icon name="create-outline"></ion-icon>
                <ion-text>Editar</ion-text>
              </ion-button>
              <ion-button (click)="setShowBannerEdit()" *ngIf="!views.info.edit && !editBanner">
                <ion-icon name="image-outline" slot="start"></ion-icon>
                <ion-text>Cambiar imagen</ion-text>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content class="{{views.info.show ? '' : 'ion-hide'}}">

          <div *ngIf="!views.info.edit && !editBanner">
            <ion-row>
              <ion-col [size]="12" class="ion-text-center">
                <img class="banner" [src]="banner || 'assets/icon/escuela.svg'"/>
              </ion-col>
              <ion-col [size]="12" size-sm="6">
                <ion-row>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Título curso</b></ion-text><br/>
                    <ion-text class="title-or-description ion-margin-bottom">{{views.info.data.title}}</ion-text>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Dirigido a</b></ion-text><br/>
                    <ion-text class="title-or-description ion-margin-bottom">{{views.info.data.toRoles ? this.getRoles(views.info.data.toRoles) : 'No especificado' }}</ion-text>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Ponente</b></ion-text><br/>
                    <ion-text class="title-or-description ion-margin-bottom">{{views.info.data.speaker || 'No especificado'}}</ion-text>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Cargo o posición del ponente</b></ion-text><br/>
                    <ion-text class="title-or-description ion-margin-bottom">{{views.info.data.speakerPosition || 'No especificado'}}</ion-text>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Miembros actualmente con el curso</b></ion-text><br/>
                    <ion-text class="title-or-description ion-margin-bottom">{{totalsUsers}}</ion-text>
                  </ion-col>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Estado del curso</b></ion-text><br/>
                    <ion-text class="title-or-description ion-margin-bottom">{{staticData.enable ? 'Publicado' : 'No publicado'}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col [size]="12" size-sm="6">
                <ion-row>
                  <ion-col [size]="12">
                    <ion-text><b class="mini-title no-selected-text">Descripción</b></ion-text><br/>
                    <div class="min-height-description">
                      <div [innerHTML]="views.info.data.description"></div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="views.info.edit && formDataInfo && !staticData.enable && staticData.totalsUsers === 0">
            <app-editar-info-curso
              [data]="formDataInfo"
              [handleCancel]="cancelEditInfo"
              [handleSave]="saveEditInfo"
            ></app-editar-info-curso>
          </div>

          <div *ngIf="editBanner && !staticData.enable && staticData.totalsUsers === 0">
            <app-editar-banner-curso
              [handleCancel]="cancelEditBanner"
              [handleSave]="saveEditBanner"
              [banner]="banner"
            ></app-editar-banner-curso>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col [size]="12" *ngIf="!views.info.edit && !editBanner">
      <ion-card>
        <ion-card-header class="ion-no-padding ion-no-margin">
          <ion-toolbar color="primary">
            <ion-buttons slot="start">
              <ion-button (click)="setShowView('temary')">
                <ion-icon name="chevron-{{views.temary.show ? 'up' : 'down' }}-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>
              {{ views.temary.title }} ({{ views.temary.data.length }})
            </ion-title>
            <ion-buttons slot="end" *ngIf="views.temary.show && !staticData.enable && staticData.totalsUsers === 0">
              <ion-button (click)="modalTheme()">
                <ion-icon name="add-outline" slot="start"></ion-icon>
                <ion-text>Agregar</ion-text>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content class="{{views.temary.show ? '' : 'ion-hide'}}">
          <app-temarylist
            [temary]="views.temary.data"
            [enableActions]="!staticData.enable && staticData.totalsUsers === 0"
            [handlePreview]="showPreviewModal"
            [handleEditTheme]="showEditTheme"
            [handleDeleteTheme]="showDeleteConfirmTheme"
            [handleEditContent]="showEditContent"
            [handleDeleteContent]="showDeleteConfirmContent"
            *ngIf="views.temary.data.length > 0; else noTemaries"
          ></app-temarylist>

          <ng-template #noTemaries>
            <ion-row>
              <ion-col [size]="12" class="ion-text-center">
                <ion-text>
                  <p class="ion-margin-top ion-padding-top ion-text-center no-selected-text">
                    <ion-icon name="alert-circle-outline"></ion-icon> Este curso no posee temas.
                  </p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col [size]="12" *ngIf="!views.info.edit && !editBanner">
      <ion-card>
        <ion-card-header class="ion-no-padding ion-no-margin">
          <ion-toolbar color="primary">
            <ion-buttons slot="start">
              <ion-button (click)="setShowView('test')">
                <ion-icon name="chevron-{{views.test.show ? 'up' : 'down' }}-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>
              {{ views.test.title }} ({{ views.test.data.length }})
            </ion-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content class="{{views.test.show ? '' : 'ion-hide'}}">
          <app-test-list
            [data]="views.test.data"
            [enableActions]="!staticData.enable && staticData.totalsUsers === 0"
            [handlePreview]="showPreviewTest"
            [handleEditQuestion]="showEditQuestion"
            [handleDeleteQuestion]="showDeleteConfirmQuestion"
            *ngIf="views.test.data.length > 0; else noTests"
          ></app-test-list>

          <ng-template #noTests>
            <ion-row>
              <ion-col [size]="12" class="ion-text-center">
                <ion-text>
                  <p class="ion-margin-top ion-padding-top ion-text-center no-selected-text">
                    <ion-icon name="alert-circle-outline"></ion-icon> Debes registrar temas para poder visualizar la sección de pruebas.
                  </p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="ion-margin-bottom ion-padding-bottom" [size]="12" *ngIf="!views.info.edit && !editBanner">
      <ion-card>
        <ion-card-header class="ion-no-padding ion-no-margin">
          <ion-toolbar color="primary">
            <ion-buttons slot="start">
              <ion-button (click)="setShowView('publish')">
                <ion-icon name="chevron-{{views.publish.show ? 'up' : 'down' }}-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>{{ views.publish.title }}</ion-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content class="{{views.publish.show ? '' : 'ion-hide'}}">
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-margin-top" size="12">
              <h2><b>IMPORTANTE</b></h2>
              <ul>
                <li>Puede publicar el curso a los miembros con solo presionar el botón: <b>"PUBLICAR CURSO"</b>.</li>
                <li>Puede retirar el curso del listado público con solo presionar el botón <b>"QUITAR CURSO DE LA SECCIÓN PÚBLICA"</b>.</li>
                <li>El curso una vez publicado, <b>NO PUEDE SER EDITADO</b> en ninguna de las secciones.</li>
                <li>Puede editar un curso siempre y cuando este no se encuentre publicado y ningún miembro lo tenga en su lista.</li>
                <li>Puede retirar el curso del listado público incluso si algún miembro lo tiene agregado en su lista.</li>
                <li>Si el curso requiere de otros cursos, estos deberán estar publicados previamente antes de publicar este curso para miembros.</li>
                <li>Si retira el curso del listado público y este se encuentra asociados otros cursos previos, estos pasarán también a <b>NO PUBLICADOS</b>.</li>
              </ul>
              <h3>
                <b>NOTA:</b> ASEGÚRESE DE VERIFICAR EL CONTENIDO DEL CURSO ANTES DE PUBLICARLO.
                UNA VEZ REALIZADA ESTA ACCIÓN Y ALGÚN USUARIO AGREGA EL CURSO A SU LISTA,
                NO PODRÁ VOLVER A <b><i>EDITARLO</i></b>, NI PODRÁ <b><i>ELIMINARLO</i></b>.
              </h3>
            </ion-col>
            <ion-col class="ion-margin-top ion-padding-top ion-text-center" size="12">
              <ion-button
                size="large"
                [color]="views.publish.enable ? 'danger' : 'primary'"
                (click)="confirmPublish()"
              >
                <ion-icon name="alert-circle-outline" slot="start" *ngIf="views.publish.enable"></ion-icon>
                <ion-icon name="earth-outline" slot="start" *ngIf="!views.publish.enable"></ion-icon>
                <ion-text>{{ views.publish.enable ? 'Quitar curso de la sección pública' : 'Publicar curso' }}</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
