.card {
  min-height: 110px !important;
  display: inline-block;
  height: 100% !important;
  //width: 75%;
  white-space: normal;
}
.card3 {
  display: inline-block;
  width: 40%;
  white-space: normal;
}
.img_header{
  height: 120px !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-card {
  font-weight: 550 !important;
}
.description{
  margin: 5px 0;
}
