<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar miembro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col class="ion-no-margin" size="12" *ngIf="!successRegister">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-text color="medium">
                <p>
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  Todos los miembros registrados dispondrán de la siguiente contraseña para el acceso: <b><i>alma1234</i></b>.
                  Estos podrán cambiarla (si lo desean) desde la Aplicación Móvil o desde el Panel Administrador (en caso disponga del rol).
                </p>
              </ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Nº de Teléfono (*)</ion-label>
                <ion-input
                  [(ngModel)]="formData.phone"
                  autocomplete="off"
                  maxlength="13"
                  (keypress)="validateOnlyNumbers($event)"
                  class="ion-text-uppercase"
                ></ion-input>
              </ion-item>
              <ion-text color="medium">
                <i class="toSmall">El valor de este campo será el usuario para el acceso a la plataforma.</i>
              </ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Nombre(s) (*)</ion-label>
                <ion-input
                  [(ngModel)]="formData.names"
                  autocomplete="off"
                  (keyup)="validateOnlyLetters($event)"
                  class="ion-text-uppercase"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Apellido(s) (*)</ion-label>
                <ion-input
                  [(ngModel)]="formData.lastNames"
                  autocomplete="off"
                  (keyup)="validateOnlyLetters($event)"
                  class="ion-text-uppercase"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Correo electrónico</ion-label>
                <ion-input [(ngModel)]="formData.email" autocomplete="off" class="ion-text-uppercase"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Fecha de nacimiento (*)</ion-label>
                <ion-datetime
                  [(ngModel)]="formData.birthday"
                  displayFormat="DD/MM/YYYY"
                  min="1910-03-14"
                  max="{{maxDate}}"
                  doneText="Listo"
                  cancelText="Cancelar"
                  (ionChange)="setDate()"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Sexo (*)</ion-label>
                <ion-input
                  [readonly]="true"
                  [value]="gender[formData.gender] || ''"
                  autocomplete="off"
                  class="no-selected-text"
                  (click)="showAlertList('gender', 'gender', formData.gender)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Estado civil</ion-label>
                <ion-input
                  [readonly]="true"
                  [value]="civilStatus[formData.civilStatus] || ''"
                  autocomplete="off"
                  class="no-selected-text"
                  (click)="showAlertList('civilStatus', 'civilStatus', formData.civilStatus)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6" *ngIf="churches?.length > 1">
              <ion-item>
                <ion-label position="floating" color="medium">Iglesia a la que asiste</ion-label>
                <ion-input
                  [readonly]="true"
                  [value]="church?.name || ''"
                  autocomplete="off"
                  class="ion-text-uppercase"
                  (click)="showListChurches()"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" [sizeSm]="churches?.length > 1 ? 4 : 6">
              <ion-item>
                <ion-label position="floating" color="medium">Barrio o localidad</ion-label>
                <ion-input [(ngModel)]="formData.locality" autocomplete="off" maxlength="100" class="ion-text-uppercase"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" [sizeSm]="churches?.length > 1 ? 4 : 6">
              <ion-item>
                <ion-label position="floating" color="medium">Dirección</ion-label>
                <ion-input [(ngModel)]="formData.direction" autocomplete="off" maxlength="250" class="ion-text-uppercase"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" [sizeSm]="churches?.length > 1 ? 4 : 6">
              <ion-item>
                <ion-label position="floating" color="medium">Fecha de incorporación</ion-label>
                <ion-datetime
                  [(ngModel)]="formData.created_at"
                  displayFormat="DD/MM/YYYY"
                  min="2010-01-01"
                  max="{{maxDate}}"
                  doneText="Listo"
                  cancelText="Cancelar"
                  (ionChange)="setDate()"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="12">&nbsp;</ion-col>

            <ion-col size="12" size-sm="6">
              <ion-item lines="none">
                <ion-label color="medium">¿Asiste a un grupo familiar?</ion-label>
                <ion-checkbox
                  slot="start"
                  [checked]="formData.attendGroup"
                  (ionChange)="setCheckedValue('attendGroup')"
                ></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6" *ngIf="formData.attendGroup">
              <ion-item>
                <ion-label position="floating" color="medium">Seleccione un grupo familiar (*)</ion-label>
                <ion-input
                  [readonly]="true"
                  [value]="getGroupLabel()"
                  autocomplete="off"
                  class="no-selected-text"
                  (click)="modalGroups()"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12"></ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item lines="none">
                <ion-label color="medium">El miembro fue consolidado</ion-label>
                <ion-checkbox
                  slot="start"
                  [checked]="formData.consolidated"
                  (ionChange)="setCheckedValue('consolidated')"
                ></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="12" *ngIf="formData.consolidated">
              <ion-row>
                <ion-col size="12" size-sm="6" *ngIf="formData.consolidated">
                  <ion-item>
                    <ion-label position="floating" color="medium">Petición (opcional)</ion-label>
                    <ion-input [(ngModel)]="formData.petition" autocomplete="off" class="ion-text-uppercase"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6">
                  <ion-item lines="none">
                    <ion-label color="medium">Soy el consolidador</ion-label>
                    <ion-checkbox
                      slot="start"
                      [checked]="formData.iAmConsolidator"
                      (ionChange)="setCheckedValue('iAmConsolidator')"
                    ></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6" *ngIf="formData.consolidated && !formData.iAmConsolidator">
                  <ion-item>
                    <ion-label position="floating" color="medium">Seleccione un miembro (*)</ion-label>
                    <ion-input
                      [readonly]="true"
                      [value]="getReferredNames()"
                      autocomplete="off"
                      class="no-selected-text"
                      (click)="modalMember()"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" class="ion-margin-top">
              <ion-text color="medium"><i class="toSmall">(*) Campos requeridos.</i></ion-text>
            </ion-col>
            <ion-col size="12" size-sm="12" class="ion-margin-top ion-padding-top ion-padding-bottom ion-margin-bottom ion-text-center">
              <ion-button color="medium" (click)="confirmCancel()">
                <ion-icon name="close-outline"></ion-icon>&nbsp;
                <ion-text>Cancelar</ion-text>
              </ion-button>
              <ion-button color="primary" (click)="confirmRegister()">
                <ion-icon name="save-outline"></ion-icon>&nbsp;
                <ion-text>Guardar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col class="ion-no-margin" size="12" *ngIf="successRegister && successData">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col [size]="12" class="ion-text-center">
              <ion-img class="pictureLogo2" [src]="'/assets/icon/check.svg'"></ion-img>
              <ion-card-title class="ion-margin-top">{{ successData.msg }}</ion-card-title>
            </ion-col>
            <ion-col size="12" size-sm="12" class="ion-margin-top ion-padding-top ion-padding-bottom ion-margin-bottom ion-text-center">
              <ion-button color="primary" (click)="back()">
                <ion-icon name="chevron-back-outline" slot="start"></ion-icon>&nbsp;
                <ion-text>Regresar al listado de miembros</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
