<ion-card *ngIf="course" (click)="goToDetails(course._id)">
  <ion-img class="banner" [src]="course.banner || 'assets/icon/escuela.svg'"></ion-img>
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="checkmark-circle-outline" *ngIf="course.approved !== undefined && course.approved"></ion-icon>
      <ion-icon name="close-circle-outline" *ngIf="course.approved !== undefined && !course.approved"></ion-icon>
      <!--<ion-text class="ion-no-margin ion-no-padding">-->
      <!--</ion-text>-->
      {{ course.title }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text class="no-selected-text" *ngIf="course.description">
      {{ course.description.length > 50 ? course.description.substr(0, 50) + '...' : course.description }}
    </ion-text>
    <ion-text class="no-selected-text" *ngIf="!course.description">Sin descripción.</ion-text>
    <br/>
    <br/>
    <ion-text class="no-selected-text ion-text-center toSmall">
      <ion-icon name="open-outline"></ion-icon>&nbsp;
      <i>Haz clic para más detalles</i>
    </ion-text>
  </ion-card-content>
</ion-card>
