<ion-card *ngIf="course" (click)="goToDetails(course._id)">
  <img src="assets/icon/level-{{course.level}}{{ course.approved ? '' : '-gray' }}.svg" class="icon-courses" *ngIf="course.approved !== undefined">
  <img src="assets/icon/level-{{course.level}}.svg" class="icon-courses" *ngIf="course.approved === undefined">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="checkmark-circle-outline" *ngIf="course.approved !== undefined && course.approved"></ion-icon>
      <ion-icon name="close-circle-outline" *ngIf="course.approved !== undefined && !course.approved"></ion-icon>
      <ion-icon name="{{ course.enable ? 'earth' : 'alert-circle' }}-outline" *ngIf="list !== undefined"></ion-icon>
      {{ course.title }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text class="no-selected-text" *ngIf="course.description">
      {{ course.description.length > 50 ? course.description.substr(0, 50) + '...' : course.description }}
    </ion-text>
    <ion-text class="no-selected-text" *ngIf="!course.description">Sin descripción.</ion-text>
    <br/>
    <br/>
    <ion-text class="no-selected-text ion-text-center toSmall">
      <ion-icon name="open-outline"></ion-icon>&nbsp;
      <i>Haz clic para más detalles</i>
    </ion-text>
  </ion-card-content>
</ion-card>
