.card {
  //height: 100%;
  display: inline-block;
  height: 100%;
  width: 100%;
  white-space: normal;
}
.card3 {
  display: inline-block;
  width: 40%;
  white-space: normal;
}
.img_header{
  height: 150px !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-card {
  font-weight: 550 !important;
}
.description{
  margin: 5px 0;
}
