<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titleModal }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-margin-bottom" [size]="12" *ngIf="data.urlVideo">
          <app-video-player urlVideo="{{data.urlVideo}}"></app-video-player>
        </ion-col>

        <ion-col [size]="12" *ngIf="data.description">
          <div [innerHTML]="data.description"></div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
