<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titleModal }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-margin-bottom" [size]="12" *ngIf="data.urlVideo">
          <app-video-player urlVideo="{{data.urlVideo}}"></app-video-player>
        </ion-col>

        <ion-col [size]="12" *ngIf="data.description">
          <div [innerHTML]="data.description"></div>
        </ion-col>

        <ion-col [size]="12"*ngIf="!infoToShow.contentView">
          <ion-row>
            <ion-col [size]="12" *ngIf="data.content && data.content.length > 0; else noContent">
              <ion-text class="ion-margin-top"><b>Lista de contenido:</b></ion-text>
              <ion-list>
                <ion-item *ngFor="let c of data.content">
                  <ion-icon name="albums-outline"></ion-icon>&nbsp;
                  <ion-text>{{c.title}}</ion-text>
                </ion-item>
              </ion-list>
            </ion-col>

            <ng-template #noContent>
              <ion-col [size]="12">
                <ion-text>
                  <p class="ion-margin-top ion-padding-top ion-text-center no-selected-text">
                    <ion-icon name="alert-circle-outline"></ion-icon> No se ha registado contenido para este el tema.
                  </p>
                </ion-text>
              </ion-col>
            </ng-template>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
