<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="goToCreate()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Nuevo curso
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center" *ngIf="courses && courses.length > 0; else noCourses">
    <ion-col size="12" size-sm="6" size-md="4" *ngFor="let course of courses">
      <app-cursoscard [course]="course" [list]="true"></app-cursoscard>
    </ion-col>
  </ion-row>

  <ng-template #noCourses>
    <ion-card class="ion-no-padding">
      <ion-text color="medium">
        <p class="ion-text-center">
          <ion-icon name="alert-circle-outline"></ion-icon> No existen cursos registrados.
        </p>
      </ion-text>
    </ion-card>
  </ng-template>

</ion-content>
