<ion-header>
  <ion-toolbar>
    <ion-title>Familias</ion-title>
    <ion-buttons slot="end" *ngIf="showAddButton">
      <ion-button color="primary" (click)="setShowForm()" *ngIf="!showForm">
        <ion-icon name="{{showForm ? 'close' : 'add'}}-outline" slot="start"></ion-icon>
        <ion-text>{{ showForm ? 'Cancelar' : 'Agregar grupo'}}</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-bottom">
    <ion-col class="ion-no-margin" size="12" *ngIf="showForm && formData">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" color="medium">Nombre del grupo (*)</ion-label>
                <ion-input [(ngModel)]="formData.name" autocomplete="off" class="ion-text-uppercase"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="12" class="ion-margin-top">
              <ion-text color="medium"><i class="toSmall">(*) Campos requeridos.</i></ion-text>
            </ion-col>
            <ion-col size="12" size-sm="12" class="ion-margin-top ion-margin-bottom ion-text-center">
              <ion-button color="medium" (click)="setShowForm()">
                <ion-icon name="close-outline" slot="start"></ion-icon>
                <ion-text>Cancelar</ion-text>
              </ion-button>
              <ion-button color="primary" (click)="confirmAction({})">
                <ion-icon name="save-outline" slot="start"></ion-icon>
                <ion-text>Guardar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <ion-row>
        <ion-col [size]="12" size-sm="7">
          <ion-searchbar
            (ionChange)="searchInput($event)"
            placeholder="Buscar por nombre o código"
            showCancelButton="focus"
            [debounce]=[200]
            class="toUpper"
          ></ion-searchbar>
        </ion-col>
        <ion-col [size]="12" size-sm="5">
          <ion-toolbar>
            <ion-button color="medium" (click)="setSortOrder()">
              <ion-icon name="arrow-up-outline" *ngIf="queryParams.value === 1"></ion-icon>
              <ion-icon name="arrow-down-outline" *ngIf="queryParams.value === -1"></ion-icon>&nbsp;
              <ion-text>{{ queryParams.value === 1 ? 'ASC' : 'DES' }}</ion-text>
            </ion-button>
            <ion-button color="medium" (click)="setQueryValues()">
              <ion-icon name="filter-outline"></ion-icon>&nbsp;
              <ion-text>{{ queryParams.limit }}</ion-text>
            </ion-button>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="groups && groups.length > 0; else noGroups">
    <ion-col size="12" size-sm="6" *ngFor='let g of groups' (click)="showGroup(g._id)">
      <app-familiacard [data]="g"></app-familiacard>
    </ion-col>
  </ion-row>

  <div class="ion-margin-top" *ngIf="groups && groups.length > 0 && pages > 0">
    <app-paginator
      [totalPages]="pages"
      [currentPage]="queryParams.page"
      [handlePage]="handlePage"
    ></app-paginator>
  </div>

  <ng-template #noGroups>
    <ion-card class="ion-no-padding">
      <ion-text color="medium">
        <p class="ion-text-center"><ion-icon name="alert-circle-outline"></ion-icon> No existen familias registradas.</p>
      </ion-text>
    </ion-card>
  </ng-template>
</ion-content>
