<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="group">
    <ion-card *ngIf="views.data.data">
      <ion-card-header class="ion-no-padding ion-no-margin">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('data')" *ngIf="!views.data.edit">
              <ion-icon name="chevron-{{views.data.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editEnable()" *ngIf="views.data.edit">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title *ngIf="!views.data.edit">{{ views.data.label }}</ion-title>
          <ion-title *ngIf="views.data.edit">Editar grupo familiar</ion-title>
          <ion-buttons slot="end" *ngIf="views.data.show">
            <ion-button color="light" (click)="editEnable()" *ngIf="views.data.edit">
              <ion-icon name="close-outline" slot="start"></ion-icon>
              <ion-text>Cancelar edición</ion-text>
            </ion-button>
            <ion-button color="light" expand="full" (click)="editEnable()" slot="end" *ngIf="!views.data.edit">
              <ion-icon name="create-outline" slot="start"></ion-icon>
              <ion-text>Editar</ion-text>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{ views.data.show ? '' : 'ion-hide' }}">
        <ion-row>
          <ion-col class="ion-no-margin" size="12" *ngIf="views.data.edit">
            <app-family-group-form
              [data]="formData"
              [handleSave]="handleSave"
              [handleCancel]="handleCancel"
            >
            </app-family-group-form>
          </ion-col>

          <ion-col size="12" size-md="6" *ngIf="!views.data.edit">
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-row>
                  <ion-col size="5">
                    <ion-text><b>Número</b></ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>{{group.number}}</ion-text>
                  </ion-col>
                  <ion-col size="5">
                    <ion-text><b>Sector:</b></ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>{{group.sector || 'No indicado.'}}</ion-text>
                  </ion-col>
                  <ion-col size="5">
                    <ion-text><b>Sub-sector:</b></ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>{{group.subSector || 'No indicado.'}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="ion-no-padding" size="12">
                <ion-row>
                  <ion-col size="5">
                    <ion-text><b>Dirección</b></ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>{{group.direction || 'No indicado.'}}</ion-text>
                  </ion-col>
                  <ion-col size="5">
                    <ion-text><b>Fecha de creación:</b></ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>{{group.created_at || 'No indicado'}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-md="6" *ngIf="!views.data.edit">
            <div class="div-map">
              <app-map
                [coords]="getParamsToMap()"
                [height]="'100%'"
                [zoom]="13"
              ></app-map>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="{{ views.data.edit ? 'ion-hide' : '' }}">
      <ion-card-header class="ion-no-padding ion-no-margin">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('members1')">
              <ion-icon name="chevron-{{views.members1.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ views.members1.label }}</ion-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{ views.members1.show ? '' : 'ion-hide' }}">
        <ion-row class="ion-margin-bottom" *ngIf="members; else noMembers">
          <ion-col size="12" size-sm="6" class="ion-margin-top">
            <app-members-card
              [data]="members.leader"
              title="Líder"
              role="leader"
              [handleAdd]="handleAddMember"
              [handleRemove]="handleRemove"
            ></app-members-card>
          </ion-col>
          <ion-col size="12" size-sm="6" class="ion-margin-top">
            <app-members-card
              [data]="members.host"
              title="Anfitrión"
              role="host"
              [handleAdd]="handleAddMember"
              [handleRemove]="handleRemove"
            ></app-members-card>
          </ion-col>
          <ion-col size="12" size-sm="6" class="ion-margin-top">
            <app-members-card
              [data]="members.helper"
              title="Auxiliar"
              role="helper"
              [handleAdd]="handleAddMember"
              [handleRemove]="handleRemove"
            ></app-members-card>
          </ion-col>
          <ion-col size="12" size-sm="6" class="ion-margin-top">
            <app-members-card
              [data]="members.master"
              title="Maestro"
              role="master"
              [handleAdd]="handleAddMember"
              [handleRemove]="handleRemove"
            ></app-members-card>
          </ion-col>
        </ion-row>

        <ng-template #noMembers>
          <ion-row class="ion-margin-top">
            <ion-col size="12">
              <ion-text color="medium">
                <p class="ion-text-center">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  No se logró obtener los miembros de este grupo.
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ion-card class="{{ views.data.edit ? 'ion-hide' : '' }}">
      <ion-card-header class="ion-no-padding ion-no-margin">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('members2')">
              <ion-icon name="chevron-{{views.members2.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ views.members2.label }}</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="modalMember('assistants')"
              *ngIf="members?.assistants?.length > 0"
            >
              <ion-icon name="add-outline"></ion-icon>
              <ion-text>Agregar</ion-text>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{ views.members2.show ? '' : 'ion-hide' }}">
        <ion-row class="ion-margin-bottom" *ngIf="members; else noMembers">
          <ion-col size="12" class="ion-margin-top">
            <ion-row *ngIf="members.assistants?.length > 0; else noAssistants">
              <ion-col size="12" size-sm="6" *ngFor="let data of members.assistants">
                <app-user-group-card
                  [user]="data"
                  [handleRemove]="handleRemove"
                  [added]="true"
                ></app-user-group-card>
              </ion-col>
            </ion-row>
            <ng-template #noAssistants>
              <ion-card>
                <ion-card-content>
                  <ion-text>
                    <p class="ion-text-center">
                      <ion-icon name="alert-circle-outline"></ion-icon>
                      No se han agregado asistentes.
                      <br>
                      <ion-button class="ion-margin-top" color="primary" (click)="modalMember('assistants')">
                        <ion-icon name="add-outline" slot="start"></ion-icon>
                        <ion-text>Asignar</ion-text>
                      </ion-button>
                    </p>
                  </ion-text>
                </ion-card-content>
              </ion-card>
            </ng-template>
          </ion-col>
        </ion-row>

        <ng-template #noMembers>
          <ion-row class="ion-margin-top">
            <ion-col size="12">
              <ion-text color="medium">
                <p class="ion-text-center">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  No se logró obtener los miembros de este grupo.
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <div class="ion-margin"><br/></div>
  </div>
</ion-content>
