<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!views.data.edit">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="staticData && enableActions && showAdminButtons && showDeleteButton">
      <ion-button expand="full" (click)="confirmDelete()" slot="end" *ngIf="!views.data.edit">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-text>Eliminar miembro</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="staticData">
    <ion-card *ngIf="views.data.data">
      <ion-card-header class="ion-no-padding ion-no-margin">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('data')" *ngIf="!views.data.edit && !editRole && !resetPassword">
              <ion-icon name="chevron-{{views.data.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="showFormEdit()" *ngIf="views.data.edit">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="showFormEditRole()" *ngIf="editRole">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title *ngIf="!views.data.edit && !editRole && !resetPassword">{{ views.data.label }}</ion-title>
          <ion-title *ngIf="views.data.edit">Editar perfil del miembro</ion-title>
          <ion-title *ngIf="editRole">Cambiar rol del miembro</ion-title>
          <ion-title *ngIf="resetPassword">Reiniciar contraseña del usuario</ion-title>
          <ion-buttons slot="end" *ngIf="views.data.show && showAdminButtons">
            <ion-button
              color="light"
              expand="full"
              (click)="showFormEdit()"
              slot="end"
              *ngIf="!views.data.edit && !editRole && !resetPassword"
            >
              <ion-icon name="create-outline" slot="start"></ion-icon>
              <ion-text>Editar</ion-text>
            </ion-button>
            <ion-button
              color="light"
              expand="full"
              (click)="showFormEditRole()"
              slot="end"
              *ngIf="!views.data.edit && !editRole && !resetPassword"
            >
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-text>Cambiar rol</ion-text>
            </ion-button>
            <ion-button
              color="light"
              expand="full"
              slot="end"
              (click)="showFormPassword()"
              *ngIf="isAdmin && !views.data.edit && !editRole && !resetPassword"
            >
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-text>Reiniciar contraseña</ion-text>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{ views.data.show ? '' : 'ion-hide' }} ion-no-padding">
        <ion-row>
          <ion-col size="12" *ngIf="!views.data.edit && !editRole && !resetPassword">
            <app-resume-profile
              [member]="staticData"
              [handleConsolidator]="handleSetAsConsolidator"
            ></app-resume-profile>
          </ion-col>

          <ion-col class="ion-no-margin" size="12" *ngIf="views.data.edit && formData">
            <ion-row>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Teléfono (*)</ion-label>
                  <ion-input
                    [(ngModel)]="formData.phone"
                    autocomplete="off"
                    maxlength="13"
                    (keypress)="validateOnlyNumber($event)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Nombre(s) (*)</ion-label>
                  <ion-input
                    [(ngModel)]="formData.names"
                    autocomplete="off"
                    maxlength="50"
                    (keyup)="validateOnlyLetters($event)"
                    class="ion-text-uppercase"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Apellidos(s) (*)</ion-label>
                  <ion-input
                    [(ngModel)]="formData.lastNames"
                    autocomplete="off"
                    maxlength="50"
                    (keyup)="validateOnlyLetters($event)"
                    class="ion-text-uppercase"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Fecha de nacimiento</ion-label>
                  <ion-datetime
                    [(ngModel)]="formData.birthday"
                    displayFormat="DD/MM/YYYY"
                    min="1910-03-14"
                    max="{{maxDate}}"
                    doneText="Listo"
                    cancelText="Cancelar"
                    (ionChange)="setDate()"
                  >
                  </ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Tipo de documento</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="formData.documentType ? getDocumentLabel(formData.documentType) : ''"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertDocumentList(formData.documentType)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Número de documento</ion-label>
                  <ion-input
                    [(ngModel)]="formData.document"
                    autocomplete="off"
                    maxlength="10"
                    (keypress)="validateOnlyNumber($event)"
                    class="ion-text-uppercase"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Correo electrónico</ion-label>
                  <ion-input [(ngModel)]="formData.email" autocomplete="off" class="ion-text-uppercase"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Cargo(s) o posición</ion-label>
                  <ion-input
                    [(ngModel)]="formData.position"
                    autocomplete="off"
                    maxlength="50"
                    (keyup)="validateOnlyLetters($event)"
                    class="ion-text-uppercase"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Sexo</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="gender[formData.gender] || ''"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertList('gender', 'gender', formData.gender)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Tipo de sangre</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="bloodType[formData.bloodType] || ''"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertList('bloodType', 'bloodType', formData.bloodType)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Estado civil</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="civilStatus[formData.civilStatus] || ''"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertList('civilStatus', 'civilStatus', formData.civilStatus)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Nivel educativo</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="educationLevel[formData.educationLevel] || ''"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertList('educationLevel', 'educationLevel', formData.educationLevel)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Profesión</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="professions[formData.profession] || ''"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertList('profession', 'professions', formData.profession)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Iglesia a la que asiste</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="churchForm?.name || ''"
                    autocomplete="off"
                    class="ion-text-uppercase no-selected-text"
                    (click)="showAlertChurchesList()"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">¿Asitió al curso de nuevo ingreso?</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="formData.meetingNew"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertYesOrNotList('meetingNew', formData.meetingNew)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">¿Estás bautizado?</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="formData.baptized"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertYesOrNotList('baptized', formData.baptized)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Departamento</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="departments[formData.department] || ''"
                    autocomplete="off"
                    class="ion-text-uppercase no-selected-text"
                    (click)="showAlertList('department', 'departments', formData.department)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Ciudad</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="cities[formData.city] || ''"
                    autocomplete="off"
                    class="ion-text-uppercase no-selected-text"
                    (click)="showAlertList('city', 'cities', formData.city)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Barrio o localidad</ion-label>
                  <ion-input [(ngModel)]="formData.locality" autocomplete="off" maxlength="100" class="ion-text-uppercase"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Dirección</ion-label>
                  <ion-input [(ngModel)]="formData.direction" autocomplete="off" maxlength="250" class="ion-text-uppercase"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">¿Posee una empresa?</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="formData.company"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showAlertYesOrNotList('company', formData.company)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6" size-sm="6" *ngIf="formData.company === 'Si';">
                <ion-item>
                  <ion-label position="floating" color="medium">Tipo de empresa</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="companyType[formData.companyType] || ''"
                    autocomplete="off"
                    class="ion-text-uppercase no-selected-text"
                    (click)="showAlertList('companyType', 'companyType', formData.companyType)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" class="ion-margin-top">
                <ion-text color="medium"><i class="toSmall">(*) Campos requeridos.</i></ion-text>
              </ion-col>
              <ion-col size="12" size-sm="12" class="ion-margin-top ion-margin-bottom ion-text-center">
                <ion-button color="medium" (click)="showFormEdit()">
                  <ion-icon name="close-outline" slot="start"></ion-icon>
                  <ion-text>Cancelar</ion-text>
                </ion-button>
                <ion-button color="primary" (click)="confirmUpdate()">
                  <ion-icon name="save-outline" slot="start"></ion-icon>
                  <ion-text>Guardar</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col class="ion-no-margin" size="12" *ngIf="editRole">
            <ion-row>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Roles actuales</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="this.globalSer.getRoleValue(staticData.roles)"
                    autocomplete="off"
                    class="no-selected-text"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Nuevos roles (*)</ion-label>
                  <ion-input
                    [readonly]="true"
                    [value]="this.globalSer.getRoleValue(formDataRole.roles)"
                    autocomplete="off"
                    class="no-selected-text"
                    (click)="showRolesListAlert(formDataRole.roles)"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" class="ion-margin-top">
                <ion-text color="medium"><i class="toSmall">(*) Campos requeridos.</i></ion-text>
              </ion-col>
              <ion-col size="12" size-sm="12" class="ion-margin-top ion-margin-bottom ion-text-center">
                <ion-button color="medium" (click)="showFormEditRole()">
                  <ion-icon name="close-outline" slot="start"></ion-icon>
                  <ion-text>Cancelar</ion-text>
                </ion-button>
                <ion-button color="primary" (click)="confirmUpdateRole()">
                  <ion-icon name="save-outline" slot="start"></ion-icon>
                  <ion-text>Guardar</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col class="ion-no-margin" size="12" *ngIf="resetPassword">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-text color="medium">
                    Genere una nueva contraseña para la cuenta del usuario.
                    Esta es visualizada para que pueda copiarla y compartirla con el usuario respectivo.<br>
                    La contraseña puede generarla aleatoriamente, ya luego el usuario decidirá si desea cambiar la contraseña
                    desde su pefil.
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label position="floating" color="medium">Indique la nueva contraseña</ion-label>
                  <ion-input [(ngModel)]="password" autocomplete="off"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-text color="medium"><i class="toSmall">(*) Campo requerido.</i></ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6" class="ion-margin-top ion-margin-bottom">
                <ion-button color="medium" (click)="generatePassword()">
                  <ion-icon name="sync-outline" slot="start"></ion-icon>
                  <ion-text>Generar contraseña</ion-text>
                </ion-button>
              </ion-col>
              <ion-col size="12" class="ion-margin-top ion-margin-bottom ion-text-center">
                <ion-button color="medium" (click)="showFormPassword()">
                  <ion-icon name="close-outline" slot="start"></ion-icon>
                  <ion-text>Cancelar</ion-text>
                </ion-button>
                <ion-button color="primary" (click)="confirmResetPassword()">
                  <ion-icon name="save-outline" slot="start"></ion-icon>
                  <ion-text>Asignar</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="{{ views.data.edit || editRole || resetPassword ? 'ion-hide' : '' }}">
      <ion-card-header class="ion-no-padding ion-no-margin">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('referrals')">
              <ion-icon name="chevron-{{views.referrals.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ views.referrals.label }}</ion-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{ views.referrals.show ? '' : 'ion-hide' }}">
        <ion-row class="ion-margin-bottom">
          <ion-col size="12" size-sm="5" class="{{ views.referrals.referred ? '' : 'ion-hide' }} ion-margin-top" *ngIf="views.referrals.referred">
            <ion-text class="ion-margin-top"><h2><b>Padre espiritual:</b></h2></ion-text>
            <app-usercard [data]="views.referrals.referred"></app-usercard>
          </ion-col>
          <ion-col size="12" [sizeSm]="views.referrals.referred ? 7 : 12" class="ion-text-center ion-margin-top">
            <h2 class="numberTitle ion-margin-bottom">{{ totals.totalsReferrals }}</h2>
            <h1 class="ion-margin-top ion-margin-bottom">Total de hijos</h1>
            <ion-text class="ion-margin-top" color="medium" *ngIf="totals.totalsReferrals">
              <p class="ion-margin-top">
                <ion-icon name="alert-circle-outline"></ion-icon>
                El número total de hijos se refiere a los hijos este miembro, sumado con los hijos de estos.
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="ion-margin-top ion-margin-bottom max-height-250" *ngIf="views.referrals.data.length > 0; else noReferrals">
          <ion-col size="12">
            <ion-text><h2><b>Hijos espirituales:</b></h2></ion-text>
          </ion-col>
          <ion-col size="12" size-sm="6" *ngFor="let ref of views.referrals.data">
            <app-usercard [data]="ref"></app-usercard>
          </ion-col>
        </ion-row>

        <ng-template #noReferrals>
          <ion-row class="ion-margin-top">
            <ion-col size="12">
              <ion-text color="medium">
                <p class="ion-text-center">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  Este miembro no posee hijos espirituales.
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ion-card class="{{ views.data.edit || editRole || resetPassword ? 'ion-hide' : '' }}">
      <ion-card-header class="ion-no-padding ion-no-margin">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('courses')">
              <ion-icon name="chevron-{{views.courses.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ views.courses.label }} ({{views.courses.data.length}})</ion-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{ views.courses.show ? '' : 'ion-hide' }}">
        <ion-row *ngIf="views.courses.data.length > 0; else noCourses">
          <ion-col size="4" *ngFor="let c of views.courses.data">
            <app-cursoscard [course]="c"></app-cursoscard>
          </ion-col>
        </ion-row>

        <ng-template #noCourses>
          <ion-row class="ion-margin-top">
            <ion-col size="12">
              <ion-text color="medium">
                <p class="ion-text-center">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  Este miembro no posee cursos en su cuenta.
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <div class="ion-margin"><br/></div>
  </div>

</ion-content>
