<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titleModal }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="confirmEdit()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        <ion-text>Guardar</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating" color="medium">Título del tema (*)</ion-label>
        <ion-input
          [(ngModel)]="formData.title"
          class="ion-text-uppercase"
          maxlength="25"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-label color="medium">Descripción del tema</ion-label>
      </ion-item>
      <ckeditor
        [(ngModel)]="formData.description"
        [editor]="Editor"
        [config]="configEditor"
      ></ckeditor>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="auto" class="ion-margin-top ion-margin-bottom">
      <ion-button color="light" (click)="closeModal()">
        <ion-icon name="close-outline" slot="start"></ion-icon>
        <ion-text>Cancelar</ion-text>
      </ion-button>
      <ion-button (click)="confirmEdit()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        <ion-text>Guardar</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
